@use '../../styles/variables' as *;

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;

  .name {
    font-size: 18px;
    font-weight: 500;
    color: $main-color;
    max-width: 80px;
    line-height: 143%;

    @media (max-width: 768px) {
      font-size: 12px;
      width: 50px;
    }
  }

  .picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
}
