// Couleurs principales
$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$dark-color: #000000;

// Typographie
$font-main: 'Montserrat', sans-serif;

// Espacements
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
