@use '../../styles/variables' as *;

.card {
  max-width: 340px;
  height: 340px;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  position: relative;

  @media (max-width: 768px) {
    display: block;
    max-width: 100%;
    background-color: red;
    height: 255px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .fade {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
  }

  .title {
    height: 52px;
    display: flex;
    align-items: center;
    width: 70%;
    position: absolute;
    top: 260px;
    left: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;

    @media (max-width: 768px) {
      top: 180px;
    }
  }
}
