.card {
  width: 340px;
  height: 340px;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.title {
  height: 52px;
  display: flex;
  align-items: center;
  width: 70%;
  position: absolute;
  top: 260px;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
}

.fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
}
