@use '../../styles/variables' as *;

.titleLocation {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 36px;
    font-weight: 500;
    font-family: $font-main;
    color: $main-color;
    line-height: 143%;
    margin-bottom: 0;
  }

  .location {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-main;
    line-height: 143%;
    margin-top: 0;
  }
}
