@use '../../styles/variables' as *;

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  justify-content: center;

  @media (max-width: 768px) {
    height: 255px;
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .arrowLeft {
    left: 1rem;
  }

  .arrowRight {
    right: 1rem;
  }

  .arrowLeft i,
  .arrowRight i {
    font-size: 100px;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .counter {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2em;
    color: white;
    font-weight: 500;
    font-size: 18px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @media (max-width: 768px) {
      height: 255px;
    }
  }
}
